:root{
    --black: #001933;
    --white: floralwhite;
    --red: red;
    --yellow: rgb(177, 177, 12);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Poetsen One", sans-serif;
}

body{
    background-color: var(--white);
    height: 100vh;
}

.errors{
    color: var(--red);
    font-size: 18px;
    text-align: center;
}

header,
footer{
    width: 100%;
    height: 170px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 100px;
    width: 100px;
    margin: 50px;
    border: 2px solid var(--white);
    border-radius: 50px;
}

.div-header{
    color: var(--white); 
}

.div-header h1{
    font-size: 50px;
    text-align: center;
}

.h3-title{
    font-size: 40px;
    text-align: center;
    padding-top: 65px;
    color: var(--black);
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #E0E0E0;
    border: 2px solid var(--black);
    border-radius: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-label{
    padding: 30px 0;
}

.div-label p{
    font-size: 18px;
    color: var(--black);
}

.div-label input[type=text],
.div-label input[type=password],
.div-label input[type=email],
.div-label input[type=date]{
    font-size: 20px;
    width: 400px;
    height: 40px;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    padding-left: 10px;
}

form button{
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    transition: 0.7s;
}

.login-button{
    margin: 50px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--white);
    transition: 0.7s;
}

form button:hover,
.login-button:hover{
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    transition: 0.7s;
}

.div-links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-links a{
    margin-left: 10px;
    color: var(--black);
    position: relative;
    text-decoration: none;
}

.div-links a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transition: all 0.3s ease;
}

.div-links a:hover::after{
    width: 100%;
}

/* Index.php classes */
.viewer{
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 60px;
    transition: 0.4s all ease;
}

.viewer:hover{
    cursor: pointer;
    color: var(--yellow);
    transition: 0.4s all ease;
}

.user-block{
    margin: 20px 0px 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-block p{
    color: var(--white);
    font-size: 18px;
}

.profile-img{
    width: 25px;
    height: 25px;
    border: 3px solid var(--white);
    border-radius: 50%;
    transition: 0.4s all ease;
}

.profile-img:hover{
    cursor: pointer;
    border-color: var(--yellow);
    transition: 0.4s all ease;
}