:root {
    --black: #001933;
    --white: floralwhite;
    --red: red;
    --yellow: rgb(177, 177, 12);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Poetsen One", sans-serif;
}

body {
    background-color: var(--white);
    height: 100vh;
}

.links{
    text-decoration: none;
    color: var(--black);
    transition: all 0.4s ease;
}

.links:hover{
    cursor: pointer;
    color: var(--yellow);
    transition: all 0.4s ease;
}

.errors {
    color: var(--red);
    font-size: 18px;
    text-align: center;
}

.redirect-div{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.redirect-div button{
    margin-top: 100px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    transition: 0.4s all ease;
}

.redirect-butt{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    transition: 0.4s all ease;
}

/*Header classes*/
header {
    width: 100%;
    height: 210px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100px;
    width: 100px;
    margin: 50px;
    border: 2px solid var(--white);
    border-radius: 50px;
}

header img:hover {
    cursor: pointer;
}

.div-header {
    color: var(--white);
}

.div-header h1 {
    font-size: 50px;
    text-align: center;
}

.logout-button{
    font-size: 50px;
    transition: 0.4s all ease;
}

.logout-button{
    border-color: red;
    transition: 0.4s all ease;
}

/*Footer classes*/
footer{
    
    bottom: 0;
    width: 100%;
    height: 210px;
    background-color: var(--black);
}

.footer-paragraph{
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    color: var(--white);
}

.developer-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.devoloper-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.developer-container div p{
    color: var(--white);
    font-size: 16px;
}

.social-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-container i{
    color: var(--white);
    font-size: 20px;
    transition: all 0.4s ease;
}

.social-container i:hover{
    cursor: pointer;
    color: var(--yellow);
    transition: all 0.4s ease; 
}

/*Pages classes*/
.h3-title {
    font-size: 40px;
    text-align: center;
    padding-top: 55px;
    color: var(--black);
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #E0E0E0;
    border: 2px solid var(--black);
    border-radius: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-label {
    padding: 30px 0;
}

.div-label p {
    font-size: 18px;
    color: var(--black);
}

.div-label input[type=text],
.div-label input[type=password],
.div-label input[type=email],
.div-label input[type=date] {
    font-size: 20px;
    width: 400px;
    height: 40px;
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    border-collapse: collapse;
    padding-left: 10px;
}

.div-label input:focus[type=text],
.div-label input:focus[type=password],
.div-label input:focus[type=email] {
    border: 4px solid var(--yellow);
}

select {
    width: 400px;
    height: 40px;
    font-size: 18px;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.form button,
.offer-button,
.delete-button {
    margin: 30px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    transition: 0.4s all ease;
}

.login-button {
    margin: 50px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--white);
    transition: 0.4s all ease;
}

.form button:hover,
.login-button:hover,
input[type=file]:hover,
.redirect-container button:hover,
.insert-box button:hover,
.form-filter button:hover,
.redirect-div button:hover,
.redirect-butt:hover,
.offer-button:hover,
.delete-button:hover {
    cursor: pointer;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    transition: 0.4s all ease;
}



.div-links {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-links a {
    margin-left: 10px;
    color: var(--black);
    position: relative;
    text-decoration: none;
}

.div-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transition: all 0.3s ease;
}

.div-links a:hover::after {
    width: 100%;
}

.logout-icon{
    font-size: 50px;
    color: var(--white);
    transition: 0.4s all ease;
}

.logout-icon:hover{
    cursor: pointer;
    color: red;
    transition: 0.4s all ease;
}

/* Index.php classes */
.user-block {
    margin-right: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-block p {
    color: var(--white);
    font-size: 18px;
}

.profile-img {
    margin: 20px;
    width: 130px;
    height: 130px;
    border: 3px solid var(--white);
    border-radius: 50%;
    transition: 0.4s all ease;
}

.file-image {
    border: 1px solid var(--white);
    margin-top: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.4s all ease;
}

.profile-img:hover,
.file-image:hover {
    cursor: pointer;
    border-color: var(--yellow);
    transition: 0.4s all ease;
}

/*index.php filter classes*/
.viewer {
    float: right;
    margin-right: 40px;
    font-size: 60px;
    transition: 0.4s all ease;
}

.div-filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 30%;
    border: 3px solid black;
    border-radius: 10px 0 0 10px;
    background-color: #E0E0E0;
}

.element-viewer {
    font-size: 50px;
    transition: 0.4s all ease;
}

.element-viewer:hover {
    cursor: pointer;
    color: var(--yellow);
    transition: 0.4s all ease;
}

.div-filter h1 {
    text-align: center;
    font-size: 24px;
}

.form-filter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*insert div*/
.elements-box {
    margin-top: 20px;
    width: 100%;
}

.insert-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insert-box button,
.div-filter button {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 40px;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    transition: 0.4s all ease;
}

/*index.php sales classes*/
.sales-container{
    margin-top: 20px;
}

.sale-box {
    float: left;
    margin: 10px;
    width: 30%;
    border: 2px solid var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

/* newsale.php classes */
.sale-img {
    height: 200px;
    width: 300px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin: 20px;
}

/* showsale.php classes */
.sale-container {
    width: 80%;
    border: 3px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sale-container h1 {
    font-size: 40px;
}

.images-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.user-credential{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.images-container img {
    border: 2px solid var(--black);
    width: 40px;
    height: 70px;
}

.selected-image img {
    height: 400px;
    width: 80%;
}

.redirect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 80%;
}

.input-offer {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid var(--black);
    border-radius: 10px;
}

.redirect-container button {
    width: 220px;
    height: 50px;
    border: 2px solid var(--black);
    background-color: var(--black);
    border-radius: 10px;
    font-size: 18px;
    color: var(--white);
    transition: 0.4s all ease;
}